body {
   background: #B3B3B3;
   font-size: 150%;
   margin: 10px;
}

header {
   background: #666666;
   text-align: center;
   padding: 15px;
}

header, footer {
   background: #666666;
   background: -moz-linear-gradient(top, #666666 0%, #00b7ea 100%);
   background: -webkit-linear-gradient(#666666 0%, #00b7ea 100%);
   background: -o-linear-gradient(#666666 0%, #00b7ea 100%);
   background: linear-gradient(#666666 0%, #00b7ea 100%);
}

h1 {
   color: #FFFFFF;
   margin: 0 auto;
}

nav {
   font-variant: small-caps;
   font-size: 150%;
   font-family: Arial, 'Times New Roman', serif;
}

.half {
   width: 45%;
   margin-right: 2%;
   display: inline-block;
   float: left;
}

.whole {
   clear: both;
}

h2 {
   color: rgba(32, 18, 101, 0.479);
   background: rgba(210, 145, 145, 0.375);
}

details {
   font-style: italic;
}

summary {
   font-style: normal;
}

footer {
   clear: both; /* Esto es para que no se traslape con las secciones
                   flotantes */
   text-align: center;
}

img {
   width: 75px;
}

button {
   border : 0;
   background: #0087cc;
   border-radius: 4px;
   box-shadow: 0 5px 0 #006599;
   color: #fff;
   cursor: pointer;
   font: inherit;
   margin: 0;
   outline: 0;
   padding: 12px 20px;
   transition: all .1s linear;
}

button:active {
   box-shadow: 0 2px 0 #006599;
   transform: translateY(3px);
}

/*  Universal selector, affects all elements in page

* {
   
} 

*/

/* Operators

   ^ match the begginiing exactly
   a[href^='http://umich']

   $ match the end exactly
   img[src$='.png']

   * wild card (if it see this thing)
   a[href*='umich']

*/